.homeWrape{
  max-width: 1240px;
  margin: auto;
  margin-top: 15px;
  padding: 3px;
  box-shadow: 0 0 0px 0px;
  
}
.input{
  border: 0.5px solid;
  width: 99%;
  padding: 3px;
}
.btn{
  padding: 3px;
  background-color: cadetblue;
  color: white;
}
.main-search{
  display: flex;
  box-shadow: 0px 0px 0px 0px;
}

/*result component*/
.res-div{
  box-shadow: 0.1px 0.1px 0px 0.5px;
  margin-top: 2px;
  padding: 1%;
  display: grid;
  grid-template-columns: auto auto;

}
.res-h2{
  text-align: center;
}
.temp{
  display: flex;
  justify-content:space-around;
  margin-top: 1px;
  font-size:larger;
}
.h3-city{
  text-align: center;
  padding: 3px;
  font-size:x-large;
}
.weather-type{
  margin-top: 25px;
  justify-content:center;
  padding-left: 25px;
}
.col-span{
  column-span: 3;
  
}
.col-span-1{
  column-span: 1;
  border-right: 2px solid black;
}
.span{
  text-align: center;
  display: block;
  font-weight: bold;
}
.list{
  font-size: 20px;
  cursor: pointer;
  list-style-type: none;
}
